In [14]:
#17a
for i in range(5):
    for j in range(i):
        print(j,end="")
    print(i)

0
01
012
0123
01234

In [34]:
for i in range(1,6):
    for j in range(6-i):
        print(j, end="")
    print( )

01234
0123
012
01
0

In [15]:
a=int(input("Enter any number for countdown: "))

while a>=0:
    print(a)
    a=a-1

Enter any number for countdown: 23
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [30]:
n=int(input("Enter any number: "))
if n>0:
    print(f"Factors of {n} are as follows: ")
    for i in range(1,n//2+1):
        if n%i==0:
            print(i)
    print(n)            
else:
    print("Enter a positive number!")

Enter any number: 245
Factors of 245 are as follows:
1
5
7
35
49
245

In [36]:
a=int(input("Enter any number to reverse: "))
rev=0
while a>0:
    d=a%10
    if(d==0):
        print(d,end="")
    rev=rev*10+d
    a=a//10   
print(rev,end="")

Enter any number to reverse: 62970
07926

In [13]:
a=int(input("Enter start of range: "))
b=int(input("Enter end of range: "))
s=0
for i in range(a,b+1):
    f=0
    for j in range(2,i//2+1):
        if i%j==0:
            f=1
            break
    if f==0:
        print(i,end=" ")
        s=s+i
print(f"\nSum of all prime numbers between {a} and {b} is: {s} ")

Enter start of range: 132
Enter end of range: 555
137 139 149 151 157 163 167 173 179 181 191 193 197 199 211 223 227 229 233 239 241 251 257 263 269 271 277 281 283 293 307 311 313 317 331 337 347 349 353 359 367 373 379 383 389 397 401 409 419 421 431 433 439 443 449 457 461 463 467 479 487 491 499 503 509 521 523 541 547
Sum of all prime numbers between 132 and 555 is: 22829

In [8]:
#14
n=int(input("Enter any number: "))
s=0
while(n>0):
    s=s+n%10
    n=n//10
print("Sum of digits: ",s)
if n<0:
    print("Enter a positive number!")

Enter any number: 32940
Sum of digits:  18

In [12]:
#15
print("All Armstrong numbers between 100 and 500: ")
for i in range(100,501):
    s=0
    a=i
    while(i>0):
        b=i%10
        s=s+b**3
        i=i//10
    if(a==s):
        print(a)

All Armstrong numbers between 100 and 500:
153
370
371
407

In [18]:
#17b
for i in range(5):
    print()
    for j in range(5-i):
        print(j,end="")

01234
0123
012
01
0

In [21]:
#17c
for i in range(6):
    print()
    for a in range(5-i):
        print(" ",end="")
    for j in range(i):
        print(j,end="")

    0
   01
  012
 0123
01234

In [22]:
#17d
for i in range(6):
    print()
    for a in range(i):
        print(" ",end="")
    for j in range(5-i):
        print(j,end="")

01234
 0123
  012
   01
    0

In [26]:
#17e
for i in range(1,6):
    for j in range(i):
        print(i,end=" ")
    for a in range(5-i):
        print(a+1+i,end=" ")  
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [27]:
#17f
for i in range(6):
    for j in range(1,i+1):
        print(i*j,end=" ")
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25

In [29]:
#17g
for z in range(4):
    print(" " * (4-z), "*" * (2*z +1))
for z in range(4-2,-1,-1):
    print(" " * (4-z), "*" * (2*z +1))

     *
    ***
   *****
  *******
   *****
    ***
     *